[2016-01-13 11:23] matkoniecz opened #1 "very poor display of waterways"
At least IMHO this style does not work for narrow waterways: http://tangrams.github.io/refill-style-no-labels/#15.025/50.0900/19.9517

![selection_009](https://cloud.githubusercontent.com/assets/899988/12292845/23d084d2-b9f0-11e5-9d3c-654b45f07ddc.png)

especially curved:

http://tangrams.github.io/refill-style-no-labels/#15.025/50.0959/19.9795

![selection_010](https://cloud.githubusercontent.com

[2016-01-13 17:23] nvkelso commented on #1
Over to @sensescape as part of Refill 2.0 work.

[2016-02-10 01:05] sensescape opened #5 "Smooth waves shader at high zooms"
@bcamper @patriciogonzalezvivo
Why is the shader not smooth at z17?

Here's how it looks at z15
<img width="161" alt="screen shot 2016-02-09 at 5 01 20 pm" src="https://cloud.githubusercontent.com/assets/466585/12936015/2d6c5600-cf4f-11e5-845b-d61cdf33ca76.png">

At z17 the edges look rough and uneven:
<img width="303" alt="screen shot 2016-02-09 at 5 04 30 pm" src="https://cloud.githubusercontent

[2016-02-10 01:18] sensescape commented on #5
<img width="279" alt="screen shot 2016-02-09 at 5 17 59 pm" src="https://cloud.githubusercontent.com/assets/466585/12936199/1a7fdb8c-cf51-11e5-824e-8e976cc86e31.png">

[2016-02-10 18:40] sensescape commented on #5
at z19
<img width="416" alt="screen shot 2016-02-10 at 10 39 43 am" src="https://cloud.githubusercontent.com/assets/466585/12957656/aa16bee6-cfe2-11e5-8105-ae9ad0356a71.png">

[2016-02-10 18:52] bcamper commented on #5
@patriciogonzalezvivo ?

[2016-02-10 23:27] sensescape commented on #1
river lines now have wave texture that has slight gray fill
<img width="699" alt="screen shot 2016-02-10 at 3 26 25 pm" src="https://cloud.githubusercontent.com/assets/466585/12965394/b770228a-d00a-11e5-97b0-2d1b31167ca5.png">

[2016-02-10 23:44] sensescape commented on #1
<img width="589" alt="screen shot 2016-02-10 at 3 43 33 pm" src="https://cloud.githubusercontent.com/assets/466585/12965707/1ab18fda-d00d-11e5-8bea-5d0d324be666.png">

[2016-02-12 14:13] patriciogonzalezvivo commented on #5
The problem is on this line: https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L691 commenting it will "solve" the problem... but also will hook the wave line pattern to screen coordinates.
Before jumping and find a better strategy for this I have some questions:
- I saw that you have 3 different wave stripes patters `waves`, `waves2` and `stream-waves`. What are the differe

[2016-02-12 18:27] sensescape commented on #5
waves and waves 2  are basically the same, waves 2 is just slightly darker. I wanted to have more contrast between ground and water at higher zooms.
I'm using waves up to z13, then it gets darker at z13 and up with waves2

stream-waves are used for the river lines:
<img width="589" alt="screen shot 2016-02-10 at 3 43 33 pm" src="https://cloud.githubusercontent.com/assets/466585/13016356/1a407108-d

[2016-02-12 19:27] bcamper commented on #5
@patriciogonzalezvivo could you help with modularization? Basically structure it so we can pull some of the reusable bits out into other files, once we have file include functionality.

[2016-02-12 19:47] patriciogonzalezvivo commented on #5
working on it

[2016-02-12 20:14] patriciogonzalezvivo commented on #5
I have simplify version of it here: http://tangrams.github.io/tangram-play/?scene=https://gist.githubusercontent.com/anonymous/bfcf61663b6bc183d284/raw/6a820cc0a4d84266b753a3b00f17cedcc5e7ab8b/scene.yaml

Need some fine tunning... Should I merge it @sensescape ?? or you want to do it after doing the adjustments?

[2016-02-12 20:18] sensescape commented on #5
ok merge. Thanks @patriciogonzalezvivo !

[2016-02-12 20:19] patriciogonzalezvivo commented on #5
Let me know if you need assistance with it : )

[2016-02-12 20:26] patriciogonzalezvivo commented on #5
Do I merge or you?

[2016-02-12 20:27] sensescape commented on #5
you can merge

[2016-02-12 20:41] patriciogonzalezvivo commented on #5
Done, can you check everything looks ok?

[2016-02-12 21:15] sensescape commented on #5
waves pattern looks great!

but the coast stripes got thicker in line width.

previous:
<img width="344" alt="screen shot 2016-02-12 at 1 14 10 pm" src="https://cloud.githubusercontent.com/assets/466585/13020510/a7d8df3e-d18a-11e5-86da-6d2a9361d383.png">

now:
<img width="333" alt="screen shot 2016-02-12 at 1 14 14 pm" src="https://cloud.githubusercontent.com/assets/466585/13020517/b25d52b4-d18a-1

[2016-02-12 21:22] sensescape commented on #5
Looks like it doubled in line-width. Where do I adjust the line-width?

[2016-02-12 21:23] patriciogonzalezvivo commented on #5
I just push a fix... Is less efficient but more flexible

[2016-02-12 21:25] sensescape commented on #5
nice! thank you! looks amazing

[2016-02-12 21:26] patriciogonzalezvivo commented on #5
:+1:   : D    :+1:

[2016-02-12 21:58] sensescape commented on #5
this is fixed

[2016-02-12 21:58] #5 closed

[2016-02-12 21:59] patriciogonzalezvivo commented on #5
yay

[2016-02-12 22:04] sensescape commented on #5
yay!

[2016-02-25 18:48] sensescape opened #7 "pedestrian path disappearing at z20"
http://localhost:8000/#19/33.98368/-118.45510

[2016-02-25 18:48] sensescape opened #8 "aeroway on river thames?"
http://localhost:8000/#17/51.46971/-0.17909

[2016-02-25 18:49] sensescape commented on #8
<img width="642" alt="screen shot 2016-02-25 at 10 49 31 am" src="https://cloud.githubusercontent.com/assets/466585/13330374/79992f84-dbad-11e5-9165-a7963dc9ba99.png">

[2016-02-25 18:50] sensescape commented on #7
<img width="661" alt="screen shot 2016-02-25 at 10 50 05 am" src="https://cloud.githubusercontent.com/assets/466585/13330391/8ed949ec-dbad-11e5-94c7-9d30f2ed162b.png">

[2016-02-25 18:58] sensescape opened #9 "clean up highways and highway links"
http://localhost:8000/#16/33.9287/-118.2804
clean this mess:
<img width="864" alt="screen shot 2016-02-25 at 10 56 31 am" src="https://cloud.githubusercontent.com/assets/466585/13330649/9ebd57ee-dbae-11e5-92cb-9bc8cbf8b5e8.png">
<img width="943" alt="screen shot 2016-02-25 at 10 56 49 am" src="https://cloud.githubusercontent.com/assets/466585/13330652/a3a24742-dbae-11e5-9294-8b9ed547ded0.png">

[2016-02-25 19:02] sensescape opened #10 "Fix tunnels layering"
Tunnels not showing:
<img width="604" alt="screen shot 2016-02-25 at 11 01 11 am" src="https://cloud.githubusercontent.com/assets/466585/13330769/36d7b3ee-dbaf-11e5-80c8-608c6ef792e0.png">

http://localhost:8000/#14/40.7271/-74.0131

[2016-02-25 23:43] sensescape opened #11 "Integrate sand shader to the new shader styles set up"
@patriciogonzalezvivo @bcamper @nvkelso

I'm testing out this new sand shader for beaches, could you help me optimize it with the new shader set-up?

Not sure yet if this works out visually on the map, testing it out. Also maybe there's a better way to write it so that I can give it 2 shades of gray (a light and a dark) and it can work within that range? But I also like that I can assign it the 7

[2016-02-26 00:56] sensescape commented on #11
Actually this other shader I'm testing out here looks more sand-like:
<img width="479" alt="screen shot 2016-02-25 at 4 45 41 pm" src="https://cloud.githubusercontent.com/assets/466585/13339687/693321ea-dbdf-11e5-9e48-83ee9df2042c.png">

Let's save this one for later, or use this shader for marshland or swamp, @nvkelso do we have marshland?

[2016-02-26 06:08] sensescape opened #12 "Style snow fences"
https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L2452-L2460

[2016-02-26 06:13] sensescape opened #13 "Telluride label is tiny - fix places labels"
<img width="457" alt="screen shot 2016-02-25 at 10 11 25 pm" src="https://cloud.githubusercontent.com/assets/466585/13344663/e572e768-dc0c-11e5-8b50-c13bfd22855b.png">

http://localhost:8000/#14/37.9353/-107.8061

[2016-02-26 06:19] sensescape opened #14 "Difficult to distinguish various types of labels - Rework typography"
<img width="1066" alt="screen shot 2016-02-25 at 10 15 35 pm" src="https://cloud.githubusercontent.com/assets/466585/13344753/c9a19592-dc0d-11e5-959a-c84e1aff859d.png">

[2016-02-26 13:30] patriciogonzalezvivo commented on #11
Hello @sensescape! This is looking great!
In line 907 ( https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L907 ), please use `getTileCoord()` (available in this style https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L361-L376) instead of `TileCoord()`. They do the same thing, but the getTileCoord() is consistent and interdependent to the rest of the l

[2016-02-26 13:40] patriciogonzalezvivo commented on #11
@sensescape the sand pattern looks great!

We should think on a more efficient way to make it that doesn't relay on `snoise()`. Simplex noise is more of on the side of an expensive function to use (in three dimensions use four times the `random()`).  And here (https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L912-L918) we are using it 7 times that's makes 28 calls to `rando

[2016-02-26 13:46] patriciogonzalezvivo commented on #11
![1](https://cloud.githubusercontent.com/assets/346914/13353902/7c0acf76-dc65-11e5-9ba1-fea7f3618329.png)
@sensescape from this shader (http://editor.thebookofshaders.com/?log=160226134359) you just need line number 22. And `mix` in the style `generative-random` in order to use the `random()` function present here https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L460

For t

[2016-02-26 15:00] bcamper commented on #11
Hey @sensescape @patriciogonzalezvivo -- re-opening this issue to make sure we track and any new shaders. Even if we're using different ones from what @sensescape originally proposed (sounds like you have an alternate one you'd like to use?), we should make sure they're reviewed and optimized. This issue seems a fine place to to do that.

[2016-02-26 15:02] bcamper commented on #11
@patriciogonzalezvivo can you help make sure all references to `TileCoords` are removed, and we only rely on `modelPosition` (even if it's wrapped in another function to make it a varying)?

[2016-02-26 15:06] bcamper opened #15 "Building grid should use texture"
It looks like the `building-grid` is trying to reference the same texture from the Eraser Map style, but that texture hasn't been defined in `textures`:

https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L833

Instead the shader block is still programmatically drawing the building grid, so we still have aliasing artifacts, and are also getting missing texture references.

Se

[2016-02-26 15:52] bcamper commented on #15
@sensescape I addressed this in #16, let me know if that makes sense.

[2016-02-26 16:21] patriciogonzalezvivo commented on #11
@bcamper I did that last time I was simplifying the code. The `TileCoord()` is use only where I just point it. @sensescape I could do the changes in PR if you don't mind?

[2016-02-26 17:44] sensescape commented on #11
Sure, go ahead. Thanks @patriciogonzalezvivo ! I really like the example image you just posted above. That looks really good, we could use that shader instead.

[2016-02-26 18:00] bcamper commented on #15
closed via #16

[2016-02-26 18:00] #15 closed

[2016-02-26 20:10] sensescape opened #17 "Swimming pools need a different outline"
<img width="725" alt="screen shot 2016-02-26 at 12 09 25 pm" src="https://cloud.githubusercontent.com/assets/466585/13364106/e136a408-dc81-11e5-9641-5c2e61f1f004.png">

http://localhost:8000/#18/25.79140/-80.12869

[2016-02-26 20:12] sensescape commented on #17
at z16
<img width="429" alt="screen shot 2016-02-26 at 12 11 28 pm" src="https://cloud.githubusercontent.com/assets/466585/13364154/23ee891e-dc82-11e5-8255-e178c2c20c52.png">
http://localhost:8000/#16/25.8304/-80.1246

[2016-02-26 20:23] sensescape commented on #17
Starting at z19 now, but still need to style outline:
<img width="536" alt="screen shot 2016-02-26 at 12 22 43 pm" src="https://cloud.githubusercontent.com/assets/466585/13364451/bbf8dcea-dc83-11e5-987b-92512c92152a.png">
http://localhost:8000/#18/25.82337/-80.12132

[2016-02-26 21:48] sensescape opened #18 "Add shade of gray to building facades"
@bcamper @patriciogonzalezvivo  @nvkelso

Now that I'm using a texture, not sure how to add a slight shade of gray to the building facades.

<img width="118" alt="screen shot 2016-02-26 at 1 39 06 pm" src="https://cloud.githubusercontent.com/assets/466585/13366187/8641e23a-dc8e-11e5-8011-1fd826db59ff.png">

Shader here:
https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L824-

[2016-02-26 21:50] patriciogonzalezvivo commented on #18
Take a look to line 17 from here: http://tangrams.github.io/tangram-play/?scene=https://rawgit.com/tangrams/tangram-sandbox/gh-pages/styles/default.yaml#17.299999999999997/40.71666/-74.00843

`color.rgb *= vec3(min((worldPosition().z*.001 + .5),1.));`

[2016-02-26 22:03] bcamper commented on #18
Better to use the technique from Eraser Map, since we tint texture
buildings there. I actually removed that piece earlier today when I ported
the EM code to here :)

On Fri, Feb 26, 2016 at 4:50 PM, Patricio Gonzalez Vivo <
notifications@github.com> wrote:

[2016-02-26 22:06] bcamper commented on #18
I think we can start with this from EM, and optimize once we see what our needs for Refill are:

https://github.com/tangrams/eraser-map/blob/gh-pages/eraser-map.yaml#L681-L707

[2016-02-26 23:26] sensescape commented on #18
Thanks! Much better. Some were so faded they were disappearing. See below:

Before:
<img width="483" alt="screen shot 2016-02-26 at 3 23 39 pm" src="https://cloud.githubusercontent.com/assets/466585/13368180/17d12dba-dc9d-11e5-979e-35799acb9c12.png">

After:
<img width="505" alt="screen shot 2016-02-26 at 3 23 46 pm" src="https://cloud.githubusercontent.com/assets/466585/13368185/20a4dd74-dc9d-11e

[2016-03-06 22:02] bcamper opened #20 "Reference to missing `lines_transparent` style"
In the console, you can see a warning being logged for a missing `lines_transparent` style, in the `roads:aerialway:gondola_cable_car` layer. Maybe a holdover from Eraser Map or another style?

[2016-03-06 22:44] nvkelso commented on #20
Good catch! I'll have a look.

[2016-05-16 22:36] nvkelso opened #21 "Two Northridge labels"
Near 14/34.2360/-118.5393

This will likely fix itself when https://github.com/mapzen/vector-datasource/issues/744 lands. But some Mapzen house styles show dups, some do not.

<img width="319" alt="screen shot 2016-05-16 at 15 34 38" src="https://cloud.githubusercontent.com/assets/853051/15305998/c7b8925a-1b7b-11e6-9302-3a5573a6e038.png">

[code]

[2016-10-28 17:28] meetar opened #26 "Should all styles be opaque?"
Investigating this issue: https://github.com/tangrams/differ/issues/10 I discovered that at least one of the refill draw styles is partially transparent, and relying on the canvas `background-color` for proper coloring:

<img width="727" alt="screen shot 2016-10-28 at 1 24 00 pm" src="https://cloud.githubusercontent.com/assets/459970/19815695/112b8ff6-9d12-11e6-92eb-09102c892c00.png">

Is there a

[2016-10-31 17:54] nvkelso commented on #26
@patriciogonzalezvivo would know more why that dot pattern is transparent.

But for allowing data "underlays", a transparent option is a good thing.

[2016-10-31 18:09] patriciogonzalezvivo commented on #26
As far as I can see, this line https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L951 is not necessary and is setting alpha channel to `0.0`

[2016-10-31 18:17] patriciogonzalezvivo commented on #26
In some tangram blocks I leave the open the option of having **alpha** and **transparency**. Why? well, in the case of  [`polygons-diagonal-stripes` ](http://tangrams.github.io/blocks/#polygons-diagonal-stripes) it have been prove for me that this is a fast way to apply an effect to a type of `landuse` while let you see the treatment of the `earth` layer under it.

![screen shot 2016-10-31 at 2 14

[2016-11-02 18:17] msmollin opened #27 "Move API Key into url_params"
We should update refill to match bubble-wrap's API key usage. https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap.yaml#L547

This will make it easier to work with in the iOS/Android SDKs

[2016-11-29 01:58] sensescape commented on #14
and for POIs too
<img width="531" alt="screen shot 2016-11-28 at 5 56 25 pm" src="https://cloud.githubusercontent.com/assets/466585/20693583/37f12ee4-b594-11e6-9524-adf9413131e3.png">
http://localhost:8003/#19/48.85856/2.32310

[2016-12-05 22:48] #27 closed

[2016-12-12 19:46] sensescape opened #31 "Labels on landuse pattern getting cut off"
http://tangrams.github.io/refill-style/#8/36.671/-117.922

<img width="840" alt="screen shot 2016-12-12 at 11 44 46 am" src="https://cloud.githubusercontent.com/assets/466585/21114017/8f622698-c060-11e6-8d03-01dbbc5ec4dc.png">

[2016-12-12 20:22] nvkelso commented on #31
@bcamper Did this change recently?

[2016-12-12 22:47] bcamper commented on #31
Not intentionally :)  But could see it having been a casualty of either some optimizations we made to shader rendering (maybe a state change is being missed) or fixes to alpha blending. I'll look into it.

[2016-12-12 23:26] sensescape commented on #31
Adding a stroke/halo to the text fixes it:
<img width="868" alt="screen shot 2016-12-12 at 3 24 31 pm" src="https://cloud.githubusercontent.com/assets/466585/21121064/37fa0672-c07f-11e6-95bf-1db3ead0bb1d.png">

but text looks like this sometimes, over landuse pattern:
<img width="142" alt="screen shot 2016-12-12 at 3 25 54 pm" src="https://cloud.githubusercontent.com/assets/466585/21121091/61ee960

[2016-12-13 23:54] bcamper commented on #31
@patriciogonzalezvivo I haven't looked at this yet, but for the bottom example, with text over the dot pattern: do you think the alpha is interacting weirdly with the shader perhaps? Could you see what alpha is output from the shader?

[2016-12-14 13:47] patriciogonzalezvivo commented on #31
Weird... all this dot patterns don't have alpha: https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L1126-L1194 ... @sensescape do you know what `layer` or landuse style is interfering with what label layer ??

[2016-12-14 16:06] patriciogonzalezvivo commented on #31
My apologize, @bcamper point that alpha is affected in this line https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L1141
I'm not sure why we were multiplying the alpha there... but I think doing this is better:

[code]

The `DOT_SIZE` define should need to be adjusted.

Also as @bcamper point we should use a texture here... `aastep` which is use by `circle` was some performa

[2016-12-14 16:23] patriciogonzalezvivo commented on #31
Another example of dots for hill-shading https://tangrams.github.io/tangram-sandbox/tangram.html?styles/callejas#16.764280621970464/37.79126/-122.46361

![screen shot 2016-12-14 at 11 22 44 am](https://cloud.githubusercontent.com/assets/346914/21190424/b076e07c-c1ef-11e6-9e2a-216a9b7d6fd2.png)

[2016-12-14 16:35] patriciogonzalezvivo commented on #31
So... I fix the bug by avoiding using the alpha channel... this was the effect of making the dots a little bigger, because the alpha was "eating" the texture more than is colorated (alpha interpolation is different). Any how now `DOT_SIZE` need adjustments.  @sensescape could you tweak it until makes sense for you.

Once that's done, and we have parameters we are happy with I can make texture of t

[2016-12-14 16:54] bcamper commented on #31
@sensescape: @patriciogonzalezvivo put the fix on the gh-pages branch, so you should see it once this gets merged there (or you could merge it back here but may just make things more complicated):

https://github.com/tangrams/refill-style/commit/46b60c06b4acd53dbd003d7b950bc08ab349dafa

[2016-12-14 16:55] patriciogonzalezvivo commented on #31
thanks! and sorry for that

[2016-12-14 16:55] bcamper commented on #31
@sensescape I want to look into the issue with the California label (the original issue): can you show me the commit where you added the stroke, so I can compare before/after?

[2016-12-14 16:57] sensescape commented on #31
@bcamper sure, it's here on this branch:
https://github.com/tangrams/refill-style/tree/sensescape/places-refactor

[2016-12-14 17:01] sensescape commented on #31
this is the default text stroke that fixed it:
https://github.com/tangrams/refill-style/blob/sensescape/places-refactor/refill-style.yaml#L4108

[2016-12-14 17:03] sensescape commented on #31
thanks! @patriciogonzalezvivo
I'm tweaking dots pattern on places-refactor branch : )

[2016-12-14 17:05] bcamper commented on #31
Actually it looks like the original problem was the same thing with weird alpha on the underlying dots shader, so it should also be fixed (if you want to remove the stroke later) by the same fix for that.

[2016-12-14 17:05] bcamper opened #32 "Port dots styles to use texture"
We can simplify and improve performance of the dots-based styles by making them sample from a dot texture (that can be further modified in the shader as needed).

[2016-12-14 17:06] sensescape commented on #31
ok! thanks : )

[2016-12-14 17:06] bcamper commented on #31
Closing original issue, added #32 to optimize dot shaders to use textures instead as follow-up (which @patriciogonzalezvivo and I discussed).

[2016-12-14 17:06] #31 closed

[2016-12-14 17:55] patriciogonzalezvivo commented on #32
Porting to `uniforms` https://github.com/tangrams/refill-style/commit/9898573d8d3aebb8d1ec376478b971b84024a057#diff-2ae5458fe5491a29a9703b5a93751300R1131

@bcamper What about `PATTERN_SCALE` and `DOT_SIZE` is ok to add `uniforms` for those?

[2016-12-14 17:57] patriciogonzalezvivo commented on #32
Mmmm... I just notice that all those dots have white `[1.,1.,1.]` as background... is ok @sensescape if I hard code that and use remaining `uniform` space for `DOT_SIZE` and `PATTERN_SCALE` cc @bcamper

[2016-12-14 18:11] patriciogonzalezvivo commented on #32
- Assuming background is always white https://github.com/tangrams/refill-style/commit/a1b463a50dbfc0f3ce89c859a5294a30de7baba9

- `DOT_SIZE` and `PATTERN_SCALE` are now uniforms

Next step making the texture! @bcamper I have two ways to go here:

- make a ONE SDF texture of a dot and then use `aastep` to clamp it according `DOT_SIZE` (`u_dot_size`)
- make TWO B/W textures with to dots of two diffe

[2016-12-14 18:16] bcamper commented on #32
It might be worth trying both approaches to see what the performance/size difference is. Maybe start with a single dot.

But I'd like all the dependencies for refill in the project itself -- it's been difficult for me to deal with all the imports in Tron (though it was a good experiment), and I'm not yet convinced we want to bring that complexity to other house styles, so I'd rather keep it as an

[2016-12-14 18:16] patriciogonzalezvivo commented on #32
👍

[2016-12-14 18:19] bcamper commented on #32
In general, performance is more important for these house styles than flexibility. Since a second dot texture probably won't add much size, I would likely prefer that (let's check the size?).

You can also make a generic version for Blocks, with a single texture, and keep an optimized version in this file.

[2016-12-14 18:22] patriciogonzalezvivo commented on #32
Cool... @sensescape could you confirmam that the `DOT_SIZE` in the gh_pages version is what you want? Once we switch to textures will be harder to tweak

[2016-12-14 18:37] sensescape commented on #32
@patriciogonzalezvivo ok! reviewing the dot sizes

[2016-12-14 18:38] patriciogonzalezvivo commented on #32
thanks!

[2016-12-14 18:44] patriciogonzalezvivo commented on #32
sooo... I tried with fixed size dot textures... and seams they don't scale right... so I'm taking the other approach: ONE SDF TO RULE THEM ALL!

[2016-12-14 18:53] sensescape commented on #32
sorry about this mess, so many dots! looks like I'm using them all
**park-dots1**  mixes   **dots** — DOT_SIZE: .1
**dots-rev** mixes  **pattern-dots**
**tiny-dots** mixes **dots3** —  DOT_SIZE: .125
**medium-dots**  mixes **dots-medium**  —DOT_SIZE: .25

[2016-12-14 19:03] patriciogonzalezvivo commented on #32
@sensescape THANKS! I hope you don't mind I simplify the names in this commit https://github.com/tangrams/refill-style/commit/a1b463a50dbfc0f3ce89c859a5294a30de7baba9 some stiles where only call by just another style

[2016-12-14 19:10] sensescape commented on #32
yes, please @patriciogonzalezvivo
the names were confusing me, i was mixing all the dots up, didn't make much sense! thanks!

[2016-12-14 19:11] patriciogonzalezvivo commented on #32
All changes are here https://github.com/tangrams/refill-style/pull/33 ready for review and merge : )

[2016-12-14 22:17] nvkelso opened #34 "Move to generic API key URLs with url_params"
See proposed solution in https://github.com/tangrams/cartography-docs/issues/2#issuecomment-259525739.

This is needed for iOS SDK launch.

[2016-12-14 22:24] nvkelso opened #35 "Add transit overlay"
Like we support for Bubble Wrap and the "sdk".

[2016-12-21 19:46] nvkelso opened #37 "Roads layer refactor"
Especially road text label sizes (smaller than 11 pt is probably too small), maybe add one way arrows?

[2016-12-21 19:47] nvkelso opened #38 "Use Bubble Wrap's new POI layer config"
Use Bubble Wrap's new POI layer config

[2016-12-30 00:06] #34 closed

[2016-12-30 00:06] #35 closed

[2016-12-30 00:06] nvkelso commented on #38
This was completed.

[2016-12-30 00:06] #38 closed

[2017-02-10 17:04] nvkelso opened #40 "Default labels should enable all road labels early"
To match the JS rig, and related to https://github.com/tangrams/tangram/pull/484#issuecomment-278506017. The older logic is from Tangram era 0.7 but articulated labels changes more recently and the about to land curved labels make these labels look good earlier now.

Here's what the JS has, the YAML for the default labels scene file should mark them `true` (currently `false`).

[code]

[2017-03-10 00:42] sensescape opened #41 "Set up building grid pattern for global color"
I've set up Refill to use global colors, so that we can easily switch color schemes.

<img width="537" alt="screen shot 2017-03-09 at 4 13 37 pm" src="https://cloud.githubusercontent.com/assets/466585/23777008/a1146994-04e6-11e7-978c-3ce62f83a0c3.png">

Started a branch:
https://github.com/tangrams/refill-style/tree/sensescape/roads-refactor

Global colors are set here:
https://github.com/tangrams

[2017-03-10 17:29] patriciogonzalezvivo commented on #41
Hi @sensescape, happy to help you in this one. This looks fantastic! We have to ways to go with it, I think, passing the color as the building color (but the background will always be white)... or using `uniforms` like @bcamper suggest. The second one is better if you want to be changing more than one color, like for example bg vs fg.

My second question is about the rgb2hsd and then the hsd2rgb..

[2017-03-10 19:01] sensescape commented on #41
Thanks @patriciogonzalezvivo ! Actually we dont need the rgb2hsd and then the hsd2rgb at all, it's copy pasted from bubble wrap ;)

[2017-03-10 19:12] sensescape commented on #41
Yes the 2nd option, where you can change both bg and fg with globals

[2017-03-10 19:54] patriciogonzalezvivo commented on #41
cool! Should I make a PR for that or commit directly in your brunch? any way is fine for me

[2017-03-10 20:17] patriciogonzalezvivo commented on #41
So here is a solution https://github.com/tangrams/refill-style/commit/a960984db701bb0c836e549de088cb78320f6e28

the white of the roof and walls is pass as the building color. And the grid foreground as a uniform... that way we save up uniforms. Just as a future note, if the background is going to be always white we should use the geometry color for the grid, using uniforms could run into resources

[2017-03-10 20:21] nvkelso commented on #41
Into the branch works for us :)

[2017-03-10 20:30] patriciogonzalezvivo commented on #41
done! there : )

[2017-03-10 23:02] sensescape commented on #41
Thanks @patriciogonzalezvivo !
: )

<img width="989" alt="screen shot 2017-03-10 at 3 00 56 pm" src="https://cloud.githubusercontent.com/assets/466585/23816585/782b1af2-05a2-11e7-9bb2-efbaeee1b2ca.png">

[2017-03-10 23:02] #41 closed

[2017-03-12 17:07] patriciogonzalezvivo commented on #41
WOW!!!

[2017-04-04 22:02] sensescape opened #43 "Coloring road shields and other icons"
@nvkelso @bcamper

What is the best way to easily swap colors for road shields?

The first technique I tried, was converting all the road shields to white in Illustrator, and then specifying the color in the yaml:
<img width="647" alt="screen shot 2017-04-04 at 2 45 26 pm" src="https://cloud.githubusercontent.com/assets/466585/24680699/d3d85362-1946-11e7-9061-6720b180699e.png">

But this result is

[2017-04-04 22:11] bcamper commented on #43
Hmm let me give that one some thought to see if there's a way to leverage existing styling.

[2017-04-04 22:25] nvkelso commented on #43
Look at that curved El Camino Real label, am I right!?

On Tue, Apr 4, 2017 at 3:11 PM, Brett Camper <notifications@github.com>
wrote:

[2017-04-04 23:21] sensescape opened #44 "Uniforms with random for shader texture"
@bcamper @nvkelso

I was able to color this texture, but how do I create uniforms when I use random values?
<img width="808" alt="screen shot 2017-04-04 at 4 16 43 pm" src="https://cloud.githubusercontent.com/assets/466585/24683132/217e938c-1952-11e7-94a2-0f1290b347af.png">

<img width="886" alt="screen shot 2017-04-04 at 4 20 35 pm" src="https://cloud.githubusercontent.com/assets/466585/24683215/

[2017-04-05 23:39] nvkelso commented on #43
There's probably something in @patriciogonzalezvivo's https://github.com/tangrams/refill-style/pull/45/commits/a960984db701bb0c836e549de088cb78320f6e28 for building texture recoloring we can apply to road shield recoloring (and to all the other sprites, for that matter).

[2017-04-06 00:04] nvkelso opened #46 "Add color variants to Refill for data visualization"
Via SDK option:

- [x] Black (default)
- [x] Grey (OpenTraffic work)
- [x] Pink
- [x] Blue
- [x] Sepiatone
- [ ] ~~¿Shaded relief?~~

[2017-04-06 00:06] nvkelso opened #47 "Add oneway arrows"
See Walkabout.

[2017-04-06 00:06] nvkelso opened #48 "Add left & right boundary labels"
See https://github.com/tangrams/bubble-wrap/pull/240.

[2017-04-06 00:11] nvkelso opened #49 "Add highlight color for variants and pipe thru to routeline color"

[2017-04-11 20:37] nvkelso commented on #48
Done in https://github.com/tangrams/refill-style/commit/bfa993c96b57f06dafab9a69dda08242fe519213.

[2017-04-11 20:38] #48 closed

[2017-04-11 20:38] nvkelso commented on #47
Done in https://github.com/tangrams/refill-style/commit/28e5911ff4ca32517cd2dd4a147af73b2a4ba719.

[2017-04-11 20:38] #47 closed

[2017-04-11 20:39] nvkelso commented on #37
@sensescape I think this one is done – though I'm not sure about status of tiny road label size?

[2017-04-11 20:42] nvkelso commented on #26
@meetar can you test this against @sensescape's latest roads-refactor branch to see if it's still an issue, please?

[2017-04-11 20:43] nvkelso opened #50 "Add shaded relief to Refill"
- [x] basic shaded relief (`terrain-shading`)
- [x] textured / pattern shaded relief variant (`terrain-pattern`)
- [x] "inverted" shaded relief for the dark themes
- [x] color of relief matches general color themes, but can be modified with SDK global
- [x] modify text halo to work better with relief (and generally better for data viz)
- [x] modify water stream lines to read better off the relief

[2017-04-11 20:43] nvkelso commented on #46
Splitting off shaded relief for later followup in https://github.com/tangrams/refill-style/issues/50.

[2017-04-11 20:43] nvkelso commented on #46
@sensescape is this ready to close?

[2017-04-11 21:01] sensescape commented on #37
yes this is done

https://github.com/tangrams/refill-style/commit/ea196468d750e88e94fa14d50f5bc54a0593826f

we have one-way arrows now!

<img width="977" alt="screen shot 2017-04-07 at 9 03 40 am" src="https://cloud.githubusercontent.com/assets/466585/24930718/5bf53ecc-1ebf-11e7-8d9f-477db38ecfb8.png">

[2017-04-11 21:01] #37 closed

[2017-04-11 21:02] sensescape commented on #46
yes this is done

[2017-04-11 21:02] #46 closed

[2017-04-11 21:05] sensescape commented on #44
this is done

adding u_tint to gray pattern

<img width="729" alt="screen shot 2017-04-11 at 2 04 44 pm" src="https://cloud.githubusercontent.com/assets/466585/24930853/dc01a858-1ebf-11e7-9299-e99ce17f7e27.png">

https://github.com/tangrams/refill-style/commit/ea196468d750e88e94fa14d50f5bc54a0593826f

[2017-04-11 21:05] #44 closed

[2017-04-11 21:09] sensescape commented on #40
I have removed _e when I consolidated the label layers, so road layers are all true and show early

[2017-04-11 22:23] nvkelso commented on #40
Reopening as we'll need to modify the JS rig.

[2017-04-11 22:23] meetar commented on #26
@nvkelso All clear!

![image](https://cloud.githubusercontent.com/assets/459970/24933355/ec9a2c66-1ee3-11e7-9aeb-da924883e6c0.png)

[2017-04-11 22:34] bcamper commented on #44
Is it still grey in some places, or am I imagining that? (And/or maybe
intended)

On Tue, Apr 11, 2017 at 2:05 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2017-04-11 23:05] nvkelso commented on #26
Closing as config changed, thanks for checking!

[2017-04-11 23:05] #26 closed

[2017-04-12 00:12] sensescape commented on #44
made some tweaks, had to lighten the gray and add a darker color tint, here's the new version:

<img width="937" alt="screen shot 2017-04-11 at 5 08 23 pm" src="https://cloud.githubusercontent.com/assets/466585/24935870/9a4985e2-1ed9-11e7-8b8a-2c4b32755104.png">

a little hint of gray, but mostly working
![refill-pixel-tint](https://cloud.githubusercontent.com/assets/466585/24935912/0588a8e2-1eda-

[2017-04-12 00:57] nvkelso commented on #44
@bcamper is there a way to make the random affect the value, but not
saturation or hue?

On Tue, Apr 11, 2017 at 5:12 PM, Geraldine Sarmiento <
notifications@github.com> wrote:

[2017-04-12 16:45] sensescape commented on #26
Thanks @meetar !

[2017-04-12 17:47] bcamper commented on #44
@sensescape made some additional tweaks and we think the grey is gone now

[2017-04-13 21:39] bcamper commented on #43
Try this: e6d41aefa82857dccb757306f0eb2c4a2535aa65

[2017-04-13 22:46] nvkelso commented on #40
Fixed in 2057d45ecb6597276ef9a29fac03041ec21df8dc.

[2017-04-13 22:46] #40 closed

[2017-04-13 23:28] sensescape commented on #49
this is done

[2017-04-13 23:28] #49 closed

[2017-04-16 04:53] nvkelso commented on #43
Mostly working, but followup discussion in comment https://github.com/tangrams/refill-style/commit/e6d41aefa82857dccb757306f0eb2c4a2535aa65#commitcomment-21760298.

[2017-04-17 22:24] nvkelso commented on #43
@sensescape Can this issue be closed?

[2017-04-17 22:26] nvkelso opened #52 "Color variant packaging"
- [x] **Imports** versus ~~new SDK globals~~, see https://github.com/tangrams/refill-style/pull/51/files.
- [x] Ensure Tangram reloads the scene after import is redefined
- [ ] Add documentation

[2017-04-17 22:35] sensescape commented on #43
yes looks good
<img width="550" alt="screen shot 2017-04-17 at 1 06 06 pm" src="https://cloud.githubusercontent.com/assets/466585/25107330/87e6a890-2383-11e7-8e2f-28f8bcd63546.png">
<img width="619" alt="screen shot 2017-04-17 at 1 04 38 pm" src="https://cloud.githubusercontent.com/assets/466585/25107331/87e904dc-2383-11e7-9c05-6bfb0bd8bc79.png">

[2017-04-17 22:35] #43 closed

[2017-04-18 03:48] nvkelso commented on #52
For example:

[code]

[2017-05-04 17:55] nvkelso opened #53 "Fences not showing up"
Eg around here: 19/37.74236/-122.42738

Tilezen moved them to landuse layer in v1.0 (from boundaries). The style needs to catch up.

[2017-05-15 22:38] nvkelso opened #54 "Label variant import packaging"
Similar to: https://github.com/tangrams/refill-style/issues/52

Split off the ~30 globals for label more, some, none variants into scene imports.

[2017-05-18 20:14] sensescape opened #55 "2 building grid shaders - new white grid shader added"
@bcamper @nvkelso

Hi @bcamper ! I need help with this shader.
I'm adding a second building-grid shader, where the grid color is white
https://github.com/tangrams/refill-style/blob/f58319b373eee93acf88571f5b4b3283162b33b1/theme/color.yaml#L312

But right now, it ignores the 2nd custom shader I created
https://github.com/tangrams/refill-style/blob/f58319b373eee93acf88571f5b4b3283162b33b1/theme/colo

[2017-05-18 20:17] sensescape commented on #55
@nvkelso @bcamper
I'd like a white grid like this:
<img width="257" alt="screen shot 2017-05-18 at 1 15 55 pm" src="https://cloud.githubusercontent.com/assets/466585/26221685/41e189f8-3bcc-11e7-81cf-56aec9ebaea3.png">

Thanks!

[2017-05-18 20:25] sensescape commented on #55
Also, what if I have 2 textures, one light and one bold:
https://github.com/tangrams/refill-style/blob/sensescape/roads-refactor/theme/color.yaml#L355-L360

[2017-05-18 21:11] bcamper commented on #55
Hey @sensescape, can you help me understand where it is failing to do what you want? In the examples above, the purple and orange buildings have the white grid, and in the first one, it seems like the other buildings have the old black grid. Where is the problem manifesting?

[2017-05-18 21:20] sensescape commented on #55
@bcamper
![zoom-bldg](https://cloud.githubusercontent.com/assets/466585/26223860/dab54d74-3bd4-11e7-95fc-c0b2f926fc71.png)

the pink building has a dark grid, i'm trying to make the grid white with this shader:
https://github.com/tangrams/refill-style/blob/10da9f9c61b40da33d156bcde4bf41e934ad97bb/theme/color.yaml#L305-L321

and all the colored buildings as well, trying to make the grid white too

[2017-05-18 21:26] sensescape commented on #55
@bcamper
more examples from tokyo
<img width="417" alt="screen shot 2017-05-18 at 2 25 54 pm" src="https://cloud.githubusercontent.com/assets/466585/26224155/ff7c0ce6-3bd5-11e7-937d-0d770b3e5e42.png">
http://localhost:8000/#16/35.6863/139.7663

@bcamper the white buildings with dark gray grid is perfect, just trying to fix the colored buildings
sorry not clear earlier

[2017-05-22 21:02] #53 closed

[2017-06-01 23:45] nvkelso commented on #54
Let's not do the multicolor `color` version just yet, though.

[2017-06-01 23:59] nvkelso opened #57 "Sanity check icon sizes in roads refactor branch"
They're different in the diff, is that intentional?

[2017-06-09 00:50] nvkelso opened #58 "Missing stream line (but it's labeled)"
14/39.4063/-77.4749

<img width="538" alt="screen shot 2017-06-08 at 17 50 03" src="https://user-images.githubusercontent.com/853051/26956485-ece5f062-4c72-11e7-8c9d-5005d5b127aa.png">

[2017-06-14 04:41] #52 closed

[2017-06-14 04:41] #55 closed

[2017-06-14 04:41] #57 closed

[2017-06-19 19:55] nvkelso opened #61 "Add data visualization color globals for import"
See https://github.com/tangrams/tangram/issues/418.

From @burritojustice's original description (which would need a different syntax in practice):

add colorbrewer schemes to `color:`

[code]

https://github.com/axismaps/colorbrewer/

hex is here, for reference:

https://github.com/google/palette.js/blob/master/palette.js#L931

[2017-06-20 16:52] nvkelso opened #62 "Tangram ES can't find theme assets"
The ZIP bundles technically include the required images, but with a `../` path which refuses to unzip. If you only read directly from the ZIP it's "fine", but the better thing to do is to move the theme assets into `themes/images` and update paths in the theme YAMLs (and any future fonts).

/cc @tallytalwar

[2017-06-22 20:17] nvkelso commented on #62
Fixed in 7.2.1

[2017-06-22 20:17] #62 closed

[2017-06-29 18:14] sensescape commented on #58
fixed:
<img width="956" alt="screen shot 2017-06-29 at 11 12 50 am" src="https://user-images.githubusercontent.com/466585/27703355-f074d3c0-5cbb-11e7-9d7d-10aa0533a396.png">
http://localhost:8000/#14/13.5207/-1167.7555
<img width="516" alt="screen shot 2017-06-29 at 11 13 57 am" src="https://user-images.githubusercontent.com/466585/27703414-21d3b9c2-5cbc-11e7-9b37-3fc29ee6fd3e.png">

[2017-06-29 18:14] #58 closed

[2017-07-24 14:24] #54 closed

[2017-08-14 20:43] nvkelso opened #66 "Add flat Refill theme"
Without water wave pattern, water stroke, various landcover textures.

Looks like Metro Extracts use of Refill is removing the water waves because it's distracting for the overlay.

See also:

- https://github.com/mapzen/metro-extracts/issues/313

[2017-08-18 22:20] tallytalwar opened #68 "City labels collide because of a debug preference set"
Resolved in bubble-wrap: https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap-style.yaml#L4176
But not here: https://github.com/tangrams/refill-style/blob/gh-pages/refill-style.yaml#L4098

![screen shot 2017-08-18 at 3 20 23 pm](https://user-images.githubusercontent.com/360641/29479724-cc97b118-8428-11e7-93f4-e91f9e9adaa3.png)

cc. @nvkelso

[2017-08-18 22:34] #68 closed

[2017-08-18 22:35] nvkelso commented on #68
Thanks! This one fell through the cracks when the problem was first reported. Fixed now in https://github.com/tangrams/refill-style/commit/445338fa70dc59577c4c0a9682a69f2001ae2d1d.

[2017-08-31 00:32] tallytalwar opened #69 "ux_language_text_source_continent breaks shaped text for continents"
Splitting of continent names breaks shaping. Refer the screenshots below for an example with hindi.

I think the issue is with `name.split('').join(' ');`, but I am not sure what solution can be applied here to make sure split happens at the apt location. The solution should aptly handle different text rendering strategies on JS and ES.

<img width="1326" alt="screen shot 2017-08-30 at 4 36 21 pm"

[2017-08-31 00:34] nvkelso commented on #69
We probably need to add support for letter spacing to the text engine.

[2017-09-18 21:03] nvkelso opened #73 "problems importing icons from another basemap style"
I can get Walkabout icons to import in Refill locally, but not remotely.

By locally I mean load the raw YAML or ZIP bundled assets locally using Tangram JS.

By remotely I mean load the same YAML or ZIP bundled assets remotely using Tangram JS or the same code in Tangram Play. Sample code (commented), below. Testing files here: [refill-style.zip](https://github.com/tangrams/refill-style/files/131

[2017-09-18 22:55] nvkelso commented on #73
We suspect this is because the YAML is being merged correctly, but the texture links to files inside ZIPs are relative to the ZIP and aren't merged like the YAML. Since the texture was already in refill ZIP, it seems like the redefinition of it is ambiguous if the root path should then change the the walkabout ZIP. That's true in my case, but may not always be the case?

[2017-09-19 13:33] bcamper commented on #73
Let me look at expected path behavior in this case in JS.

[2017-09-19 19:17] nvkelso commented on #73
My problem was importing Refill `8` when it needed to be `9`:

[code]

[2017-09-19 19:20] bcamper commented on #73
So does this currently work as expected, or no?

[2017-09-19 19:52] nvkelso commented on #73
Works as expected!

Sent from my handsful device.

[2017-09-19 19:52] #73 closed

[2017-09-25 18:48] nvkelso opened #74 "Is mix: null okay?"
Here we add a `mix: colorized_icons`, and then later we allow import of `mix: ` in other Mapzen basemap styles to unset that. This works, but it's not clear if it's a bug. Discuss!

Refill:

https://github.com/tangrams/refill-style/blob/1ed9bfd71151aaec2b1290d9b2450928a62bfb3b/themes/refill-icons.yaml#L6

Tron:

https://github.com/tangrams/tron-style/blob/828f0d3b1444daff61da19b440d2074d9d310d8c/t

[2017-09-25 18:49] nvkelso commented on #74
/cc @tallytalwar

[2017-09-25 20:22] tallytalwar commented on #74
What I know from writing the ES code, this is not a bug and is exactly how the property merging behaves on an import. Also having an empty value (null value) is a valid yaml.

The question though remains is how to communicate the use of an empty style property in the base icon styles. Also explain/communicate how ordering of imports affect the usage of this empty style property (`mix` in our case

[2017-09-25 20:44] bcamper commented on #74
Can you guys link to the scene YAML in question, for context?

On Mon, Sep 25, 2017 at 4:22 PM, Varun <notifications@github.com> wrote:

[2017-09-25 20:56] nvkelso commented on #74
Yes, see: https://github.com/tangrams/refill-style/issues/74#issue-260377706

[2017-09-26 13:51] bcamper commented on #74
So yes, this works as far as currently implemented merging behavior is intended, however I'm concerned that it's a pretty brittle pattern (past experience suggests it likely breaks in future releases of the styles). In particular:

- Flipping a "flag" (colorized icons on/off) based solely on *import order* is not intuitive and prone to error.
- All the other styles that use the Mapzen icon library

[2017-09-26 16:39] tallytalwar commented on #74
Another proposed solution is to expose a global to control the mixing style on `mapzen-icon-library`. It would have been a bit more simpler using a boolean global, had we supported JS functions on `mix`. I do not think these are supported though.

Example:

1. Specify the [mix style](https://github.com/tangrams/refill-style/blob/14feb6bc26399d0e1dab5c24f6daea858daa1c32/themes/color-purple-green.ya

[2017-09-26 16:39] nvkelso commented on #74
I'd like for the **Mapzen Icon Library** work to have a consistent import and usage regardless of basemap style – remember these 6 different `{style}-icon.zip` files are meant to be used both in our Mapzen basemap styles and independent off them in customer's own projects. Keeping the Tangram `style` and `texture` names the same enables the Cartography documentation to be straight forward.

If I u

[2017-09-26 16:48] nvkelso commented on #74
To clarify:

- I'd like the default Refill `theme/color-{name}.yaml` imports for Refill to colorize the basemap colors & the icons...
- But when combined with importing icons from another style like Walkabout I'd like the Refill `theme/color-{name}.yaml` imports to **only** colorize the basemap colors and **not** the icons.
- Optionally a combo import of icons from another style like Walkabout wit

[2017-09-26 18:10] matteblair commented on #74
I'm looking at this now, trying to think of a simpler or more robust solution. Will let you know by the end of the day.

[2017-09-26 21:31] matteblair commented on #74
I think the solution @tallytalwar proposed is rather good. As I understand it, it boils down to icon colorization being toggled by the final value of a global. In the names used above:

`global: { sdk-icon-color-style: null }` turns off icon colorization.

`global: { sdk-icon-color-style: colorized-icons }` turns on icon colorization.

This isn't as ideal as a simple boolean flag, but is far more

[2017-09-26 21:41] nvkelso commented on #74
Cool, I'll prototype the recommendation today with a new beta release. Thank you!

[2017-09-28 20:28] nvkelso commented on #74
Fixed in https://github.com/tangrams/refill-style/pull/75.

[2017-09-28 20:28] #74 closed

[2017-09-28 20:29] nvkelso opened #77 "Address Tangram ES warnings"
Some of these are FYI, some of these are bugs that need fixing:

[code]

[2017-10-23 17:48] nvkelso opened #79 "namespace undocumented global property names"
@burritojustice  ran into some problems with Refill and choosing global property names that are actually used by the basemap style, and then breaking the basemap.

We should consider prefixing the undocumented variables with `mz_` or `sdk_` (but still not document them?) to avoid namespace collisions.

[2017-10-23 17:53] nvkelso commented on #79
(This holds true for other house styles, too.)

[2017-11-03 15:33] nvkelso commented on #50
We need to settle on names for the different `terrain-shading` and `terrain-texture` imports, see https://github.com/tangrams/refill-style/commit/3000b4f9ed397220f0a068a50427552535807f79#commitcomment-25381492. Brett later proposed emphasizing `pattern` rather than "texture" (since they both use shader textures).

[2017-12-01 01:04] sensescape commented on #66
was finished with zinc

[2017-12-01 01:04] #66 closed

[2017-12-14 21:15] #50 closed

[2018-01-25 22:48] nvkelso opened #86 "Switch source to MVT"
TopoJSON is fine for dev debugging, but really it should be MVT for prod.

[2018-03-08 19:45] glw opened #88 "help editing style"
Hi Im attempting to use the grey refill style but Id like to update the water features and remove the `wave` styling. So far Ive tinkered with it and nothing seems to get rid of the wave. Maybe Im missing something simple. I can share my style with you or if you have any pointers that would be much appreciated.

Thanks!

[2018-03-13 18:28] nvkelso opened #89 "Source nextzen terrain tiles"
The base style seems to do it right:

- https://github.com/tangrams/refill-style/blob/v11.0.0-docs1/refill-style.yaml#L255-L270

But then the terrain themes override that with the old Mapzen sources:

- https://github.com/tangrams/refill-style/blob/v11.0.0-docs1/themes/terrain-pattern-dark.yaml#L5-L10
- https://github.com/tangrams/refill-style/blob/v11.0.0-docs1/themes/terrain-pattern.yaml#L5-L10

[2018-03-13 18:28] nvkelso commented on #89
/cc @burritojustice

[2018-03-14 00:31] sensescape commented on #89
this is done

[2018-03-14 00:31] #89 closed

[2018-04-23 12:11] dphiffer opened #90 "Highway shield glitch in Refill"
I'm seeing a [glitchy highway shield for New York routes](https://maps.smoldata.org/troy#15/42.7213/-73.6734).

<img width="312" alt="screen shot 2018-04-23 at 8 10 41 am" src="https://user-images.githubusercontent.com/38114/39125704-e5016a38-46cd-11e8-8c9f-751fb02f2840.png">

Compare to Bubble Wrap, which seems not to have the issue.

<img width="302" alt="screen shot 2018-04-23 at 8 08 49 am" sr

[2018-04-23 17:27] tallytalwar commented on #90
Hey @dphiffer. Good to see you here :D.

I think there is some work happening on the shields on bubble-wrap right now and refill has not caught up to these. @nvkelso can update more on this.

[2018-04-23 17:45] dphiffer commented on #90
Thanks @tallytalwar!

[2018-05-02 00:44] burritojustice opened #91 "refill terrain still points at mapzen.com"
The terrain shaders in the nextzen cdn still point at mapzen terrain tiles. (Walkabout too.)

https://www.nextzen.org/carto/refill-style/themes/terrain-shading.zip

[2020-07-05 19:39] tallytalwar opened #94 "Incorrect letter spacing in tangram-es for hindi text"
![Screen Shot 2020-07-05 at 12 35 35 PM](https://user-images.githubusercontent.com/360641/86540696-227d7d80-bebc-11ea-9c08-f3d1817b09f2.png)

Look at the name for North America (उत्तरी अमेरिका). I think I have mentioned about this issue in some other mapzen base style and the underlying problem was how " " was being used, or on those lines. Will try to dig the issue if I can, or else @nvkelso migh

[2020-07-07 06:06] tallytalwar commented on #94
I thought we had addressed this in another style but looks like all styles have this issue.
Its because of the split done on " " and replacing it with a "\n". Refer: https://github.com/tangrams/refill-style/blob/bd579c7cea6ede82fbe92a04ef53cb1d0cfc3e7d/refill-style.yaml#L108-L109

Won't work for many other languages (not just indic).

[2020-07-07 06:34] tallytalwar commented on #94
I can reproduce the same issue in tangram js also.

![Screen Shot 2020-07-06 at 11 34 31 PM](https://user-images.githubusercontent.com/360641/86728395-4686af00-bfe1-11ea-9450-91d90fbf392c.png)

[2020-07-07 08:00] matteblair commented on #94
I can't read Hindi but even I can tell that ain't right 😂

The `join('\n')` seems like it can (read: should) be replaced with a [text_wrap](https://tangrams.readthedocs.io/en/master/Syntax-Reference/draw/#text_wrap) parameter, which will handle RTL and shaped scripts correctly.

The `join(' ')` seems like it's emulating "expansion" for the font (not sure if there's another name for this, but "expa

[2020-07-07 11:29] tallytalwar commented on #94
That sounds reasonable (with respect to disabling for blocklist of shaped languages) to me @matteblair. Thanks

[2020-07-07 18:53] matteblair commented on #94
Oh I just realized - adding spaces between letters makes it such that `text_wrap` won't work as expected because it will be applied on the output string. The spaces make it such that a line break can go anywhere in the word. So unless the "expansion" can be done properly in the font rendering, `text_wrap` won't be usable here :\

[2020-07-07 23:06] nvkelso commented on #94
Can we apply non breaking space?

On Tue, Jul 7, 2020 at 11:53 Matt Blair <notifications@github.com> wrote:

[2020-07-14 21:18] matteblair commented on #94
Looks like maybe [font-stretch](https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch) is what "text expansion" is called in CSS. Does this property work with Canvas font rendering?

[2020-07-15 04:30] nvkelso commented on #94
CSS [letter spacing](https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing) would add space between the characters.

`Font stretch` instead exaggerates the letter forms themselves and generally should only be used for fitting text inside a constrained area (like body text on a web page... or perhaps to get a line (road) text label to fit by adjusting it just a smidge.